body {
    background-color: antiquewhite; /* The body's background color */
}

.header {
    background-color: blue; /* The headers' background color */
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.bigTextHeader {
    color: white; /* The headers' text color */
}

.subTextHeader {
    color: white; /* The headers' text color */
}

.buttonHeader {
    background-color: white; /* The button's color */
    border: none;
    color: black; /* The button's text color */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}
.buttonHeader:hover {
    background-color: lightgray; /* The button's color when hovering over it*/
    color: rgb(57, 57, 57); /* The button's text color when hovering over it*/
    cursor: pointer;
}

